body {
  /* cursor: url("../images/general/cursor.png") 20 20, auto; */
  cursor: url("../images/general/mouse.png") 36 36, auto;
  height: 100vh;
  /* border: 5px solid green; */
  width: 100%;
}
.cursor {
  height: 100px;
}
.petals_container {
  /* border: 3px solid pink; */
  width: 100%;
  z-index: 4;
  height: 100%;
}

/* .petals_container img {
  object-fit: contain;
  position: absolute;
} */
/* 
.petals_container img:nth-child(1) {
  left: 0;
  bottom: 0;
  animation: petals-left 30s infinite alternate;
}
.petals_container img:nth-child(2) {
  right: 0;
  animation: petals-right 30s infinite alternate;
}
.petals_container img:nth-child(3) {
  left: 0;
  bottom: 0;

  animation: petals-left 30s infinite alternate;
}
.petals_container img:nth-child(4) {
  right: 0;
  bottom: 0;

  animation: petals-right 30s infinite alternate;
}
.petals_container img:nth-child(5) {
  left: 0;
  animation: petals-left 30s infinite alternate;
}
.petals_container img:nth-child(6) {
  right: 0;
  bottom: 0;

  animation: petals-right 30s infinite alternate;
}
.petals_container img:nth-child(7) {
  top: 0;
  bottom: 0;

  animation: petals-right 30s infinite alternate;
}
.petals_container img:nth-child(8) {
  right: 0;
  bottom: 0;

  animation: petals-right 30s infinite alternate;
}
.petals_container img:nth-child(9) {
  right: 0;
  animation: petals-right 30s infinite alternate;
}
.petals_container img:nth-child(10) {
  right: 0;
  animation: petals-right 30s infinite alternate;
} */

@keyframes petals-left {
  0% {
    left: 0;
  }
  100% {
    left: 80%;
  }
}
@keyframes petals-right {
  0% {
    right: 0;
  }
  100% {
    right: 80%;
  }
}

.opac {
  opacity: 0.8;
}

.move-cursor {
  cursor: move;
}

.grab-cursor {
  cursor: grab;
  cursor: -webkit-grab;
}

#draggable {
  border: 1px solid black;
  width: 150px;
  height: 150px;
  padding: 0.5em;
  background-color: white;
  z-index: 3;
}

.text {
  margin-top: 0;
  color: #fff;
  text-align: center;
  font-size: 28px;
  letter-spacing: 1px;
}

.opac {
  opacity: 0.8;
}

.move-cursor {
  cursor: move;
}

.grab-cursor {
  cursor: grab;
  cursor: -webkit-grab;
}

.stock {
  height: 100%;
  /* z-index: 8; */
}

.temp {
  position: relative;
  background: blue;
  font-size: 10px;
  top: 40px;
  left: 40px;
  display: inline-block;
  margin: 20px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: white;
  text-align: center;
  line-height: 20px;
}
.title_center {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.title_center img {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  object-fit: contain;
  height: 25%;
  position: absolute;
}
