.petals_container {
  border: 1px solid blue;
  width: 100%;
  z-index: 4;
  height: 100%;
}

.petals_container img {
  border: 1px solid blue;
  object-fit: contain;
  height: 350px;
  position: absolute;
}

.petals_container img:nth-child(1) {
  left: 0;
}
.petals_container img:nth-child(1) {
  left: 10rem;
}
