body {
  /* cursor: url("../images/general/cursor.png") 20 20, auto; */
  cursor: url("../images/general/mouse.png") 36 36, auto;
}
.cursor {
  height: 100px;
}
.petals_container {
  border: 1px solid blue;
  width: 100%;
  z-index: 4;
  height: 100%;
}

.petals_container img {
  border: 1px solid blue;
  object-fit: contain;
  height: 70%;
  position: absolute;
}

.petals_container img:nth-child(1) {
  left: 0;
  animation: petals-left 5s infinite alternate;
}
.petals_container img:nth-child(1) {
  left: 10rem;
}

.box {
  margin: 0 auto;
  margin-top: 50px;
  width: 301px;
  height: 101px;
  background-color: #54cfb3;
  padding-top: 70px;
}

.opac {
  opacity: 0.8;
}

.move-cursor {
  cursor: move;
}

.grab-cursor {
  cursor: grab;
  cursor: -webkit-grab;
}

#draggable {
  border: 1px solid black;
  width: 150px;
  height: 150px;
  padding: 0.5em;
  background-color: white;
  z-index: 100;
}

.box {
  margin: 0 auto;
  margin-top: 50px;
  width: 301px;
  height: 101px;
  background-color: #54cfb3;
  padding-top: 70px;
}

.text {
  margin-top: 0;
  color: #fff;
  text-align: center;
  font-size: 28px;
  letter-spacing: 1px;
}

.opac {
  opacity: 0.8;
}

.move-cursor {
  cursor: move;
}

.grab-cursor {
  cursor: grab;
  cursor: -webkit-grab;
}

.stock {
  height: 100%;
  z-index: 101;
}

.temp {
  position: relative;
  background: blue;
  font-size: 10px;
  top: 40px;
  left: 40px;
  display: inline-block;
  margin: 20px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: white;
  text-align: center;
  line-height: 20px;
}
