.questionContainer {
  position: relative;
  text-align: center;
  height: 100%;
}
.react-player {
  width: 100% !important;
  height: 100% !important;
}
.quiz-video {
  z-index: -100;
  object-fit: cover;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transform: none;
}

.questionContainer h1 {
  color: white;
  text-align: center;
}
/* QUESTION 1 */
.q1_title {
  object-fit: contain;
  width: 100%;
  height: 100%;
  top: 5rem;
}

.q2_title {
  object-fit: contain;
  width: 100%;
  height: 98%;
  top: 5rem;
}
.questionTwo_container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.q2_container {
  z-index: 1;
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  top: 0;
  left: 0;
}
/* QUESTION TWO */
.q2_item {
  animation: float 1s infinite alternate ease-in-out;
  top: 0;
  position: relative;
  margin: 0 1rem;
  height: 100%;
  width: 20%;
}

.q2_item:nth-child(2) {
  margin: 0 4rem;
}

.q2_item .first-image {
  object-fit: contain;
  position: absolute;
  width: 100%;
  top: 28%;
  opacity: 1;
  display: block;
}
.q2_item .video_container {
  opacity: 0;
  object-fit: contain;
  position: absolute;
  width: 100%;
  top: 28%;
  display: block;
  transition: opacity 0.3s;
}

.q2_item:hover .first-image {
  opacity: 0;
}
.q2_item:hover .video_container {
  opacity: 1;
}
/* QUESTION THREE */
.q3_title {
  top: 3rem;
  object-fit: contain;
  width: 43%;
}

.q3_content {
  /* z-index: 10; */
  width: 100%;
  position: relative;
  top: 0;
  border-bottom: 2px solid white;
  top: 30%;
}
.row {
  z-index: 20;
  border-top: 2px solid white;
  display: flex;
  height: 80px;
  justify-content: space-around;
}

/* QUESTION FOUR */

.door-container {
  display: flex;
  justify-content: center;
  perspective: 800px;
  position: absolute;
  top: 25%;
  height: 100%;
  left: 0;
  width: 100%;
}
.door {
  width: 240px;
  position: relative;
  height: 410px;
  transform-style: preserve-3d;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: end;
  /* border: 2px solid purple; */
  /* width: 30%; */
  /* margin-top: 1rem; */
  /* transform: rotateY(0deg); */
  /* transform: rotateY(0deg);
  transition: transform 999s 999s;
  transition: transform 0.5s; */
}
.door img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.door:hover {
  transition: transform 0.6s;
  transform: rotateY(180deg);
}

.doorTwo {
  margin: 0 8rem;
}

.door:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: center;
  background: url("../images/quiz/q4/frame.png");
  background-position: center;
  background-repeat: no-repeat;
  transform: rotateY(180deg) translateZ(2px);
}
.door:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: center !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  transform: rotateY(180deg) translateZ(3px) !important;
}
.doorOne:after {
  background-repeat: no-repeat;
  background: url("../images/quiz/q4/exhale-door.png");
  transform: rotateY(180deg) translateZ(3px) translateX(1px) !important;
}
.doorTwo:after {
  background-repeat: no-repeat;
  background: url("../images/quiz/q4/lover-door.png");
}
.doorThree:after {
  background-repeat: no-repeat;
  background: url("../images/quiz/q4/getaway-door.png");
  transform: rotateY(180deg) translateZ(3px) translateX(-1px) !important;
}

.q_title {
  height: 4.5%;
  /* top: 25%; */
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.questionThree_container {
  /* border: 1px solid orange; */
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.qOne {
  top: 40%;
}
.qTwo {
  top: 20%;
  /* border: 1px solid red; */
}
.qThree {
  top: 25%;
}
.qFour {
  top: 17%;
}

.title_container {
  position: absolute;
  width: 100%;
}
.question_title {
  top: 3rem;
  object-fit: contain;
  width: 50%;
}

.q1_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
input {
  z-index: 10;
  color: white;
  font-family: "AL";
  font-size: 16px;
  width: 300px;
}
.q1_text[type="text"] {
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  width: 230px;
}

.q1_text::placeholder {
  color: white;
  padding-bottom: 1rem;
}
input.middle:focus {
  outline-width: 0;
}
input:focus {
  outline: none;
}
textarea:focus,
input:focus {
  color: white;
}

input,
select,
textarea {
  color: white;
}

input,
select,
textarea {
  color: white;
  opacity: 0.7;
  font-family: "AL";
}

.bg-placeholder {
  /* border: 2px solid pink; */
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.retreatLogo {
  top: 0;
  left: 50%;
  transform: translate(-50%);
  width: 150px;
  height: 100px;
  object-fit: contain;
  position: absolute;
  opacity:0.8;
}
.retreatLogo:hover{
  opacity:1;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}

/* QUESTION TWO */

.orb {
  display: inline-block;
  margin: 0 150px;
  top: 50%;
  transform: translateY(25%);
  float: left;
  transition: all 0.2s ease-out;
  object-fit: contain;
  height: 30px;
}

.orb:hover {
  opacity: 0.5;
  cursor: pointer;
}

.marquee {
  /* height: 200px; */
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: space-around;
  background: transparent;
}
.marquee:hover {
  transition: background 0.4s;
  background: #d1b8fd;
}
.marquee--inner {
  transform: translateY(18px);
  display: block;
  width: 400%;
  position: absolute;

  animation: marquee 40s linear infinite;
}
.second-row .marquee--inner {
  animation: marquee-right 40s linear infinite;
}
.marquee--inner:hover {
  animation-play-state: paused;
}

.marquee--inner span {
  float: left;
  width: 50%;
}
.second-row .marquee--inner span {
  float: right;
  width: 50%;
}
.third .marquee--inner {
  animation-delay: 3s;
}

@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
@keyframes marquee-right {
  0% {
    right: 0;
  }
  100% {
    right: -100%;
  }
}

.intro {
  top: 0;
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  transition: 1s;
  z-index: 200;
}
