.r_container {
  /* position: relative; */
  width: 100%;
}
.r_container video {
  z-index: -5;
  width: 100%;
}
.r_content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
.int_container {
  /* border: 1px solid red; */
  z-index: 102;
  position: absolute;
  top: 76% !important;
  left: 2% !important;
  width: 10px;
  height: 10px;
}
.box:nth-child(1) {
  left: 100px;
  top: -300px;
}
.box:nth-child(2) {
  left: 200px;
  top: -250px;
}
.box:nth-child(3) {
  left: 300px;
  top: -50px;
}
.box:nth-child(4) {
  left: 400px;
  top: -30px;
}
.box:nth-child(5) {
  left: 600px;
  top: -100px;
}
.box:nth-child(6) {
  left: 100px;
  top: -200px;
}
.box {
  /* border:1px solid blue; */
  margin: 0 auto;
  width: 120px;
  height: 100px;
  text-align: center;
  position: absolute;
}
.box img {
  height: 100%;
  object-fit: contain;
}
.box:hover {
  /* border: 1px solid black; */
  box-shadow: 1px 10px 27px 1px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 1px 10px 27px 1px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 1px 10px 27px 1px rgba(0, 0, 0, 0.35);
}
.box:hover .ui-icon-gripsmall-diagonal-se {
  background-color: red;
}
.ui-resizable {
  position: absolute !important;
}
.logo {
  margin-top: 1rem;
  width: 100%;
  position: absolute;
  top: 0;
  height: 85px;
  display: flex;
  justify-content: center;
}
.logo img {
  height: 100%;
}
.door-nav {
  width: 100px;
  height: 100px;
}
.nav-container {
  margin: 0 1rem;
  z-index: 3;
  width: 100%;
  height: 80px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.d-container {
  position: absolute;
  height: 100%;

  padding: 0 1rem;
}
.d-container img {
  /* position: absolute; */
  height: 100%;
  object-fit: contain;
}
.right {
  right: 0rem;
}
.left {
  left: 0rem;
}

.r1_item {
  /* border: 3px solid blue; */
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  width: 100px;
  transform: translate(-50%, -50%);
}
.heart {
  height: 100px;
  position: relative;
}
.heart_pressed {
  height: 100%;
  position: absolute;
  opacity: 1;
  border: 1px solid white;
}

.heart_not_pressed {
  opacity: 0;
  border: 1px solid red;
  height: 100%;
  position: absolute;
}
.heart:hover .heart_pressed {
  opacity: 0;
}
.heart:hover .heart_not_pressed {
  opacity: 1;
}

#purple_circle {
  height: 50px;
  position: absolute;
  top: 50%;
}

.purple_circle_active {
  -webkit-animation-name: move;
  -webkit-animation-duration: 3s;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes move {
  from {
    -webkit-left: 0;
  }
  to {
    -webkit-left: 25rem;
  }
}

.a_container {
  border: 1px solid blue;
  height: 100px;
  z-index: 5;
}
.a_container img {
  height: 100%;
  /* border: 1px solid pink; */
}
#letsBegin {
  opacity: 0;
  transition: opacity 0.3s;
}

.intro {
  transition: 1s;
  z-index:200;
}
